# Ignore virtual environment
venv/
# Ignore Jupyter notebooks
notebooks/
# Ignore logs
logs/
# Ignore dataset (should be mounted or fetched during runtime)
data/
# Ignore GitHub workflows (CI/CD)
.github/
# Ignore Makefile
Makefile
# Ignore LICENSE
LICENSE

# Ignore model training scripts (unless needed for retraining)
clinical_summary/
config.yaml
params.yaml
main.py

# Ignore pycache and temporary files
__pycache__/
*.pyc
*.pyo
*.pyd
